.site-cover {
    background-position: center;
	background: url(../images/bg-4.jpeg) no-repeat center center fixed;
	background-repeat : no-repeat;
	background-size : cover;
	/*-webkit-background-size : cover;*/
	/*-moz-background-size : cover;*/
	/*-o-background-size: cover;*/
	width : 100%;
	height : auto;
	
}